<div *ngIf="gamesTop" class="games-list">
    <div class="row">
        <h2>All Games</h2>
    </div>
    <div class="row">
        <div *ngFor="let item of gamesTop" class="col-lg-2">
            <div class="game-item" (click)="onGameSelect(item.game.name)">
                <div class="logo">
                    <img [src]="item.game.box.template.replace('{width}x{height}','190x265')" [alt]="item.game.name" [title]="item.game.name" />
                </div>
                <div class="meta">
                    <div class="title">{{item.game.name}}</div>
                    <div class="info">{{item.viewers}} viewers</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="gameStreams" class="stream-list">
    <div class="row">
        <h2>{{gameName}}</h2>
    </div>
    <div class="row">
        <stream *ngFor="let item of gameStreams" [stream]="item"></stream>
    </div>
</div>
